N8N - winner agent supabase v2.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "winner-session",
        "options": {}
      },
      "id": "9c9cfc8f-636f-4a2b-9aa0-e6dce3b40101",
      "name": "Webhook (Supabase Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1360, -160]
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nconst body = source.body || source;\nconst sessionId = String(body.id || body.session_id || '').trim();\n\n// Allow only UUID-ish ids (Supabase default)\nif (!sessionId || !/^[0-9a-fA-F-]{32,36}$/.test(sessionId)) return [];\n\nreturn [{ json: { sessionId } }];"
      },
      "id": "7b88ae56-f8c7-4e28-bfcb-1b5f02fe0efb",
      "name": "Parse Webhook (ID Only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1120, -160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/article_sessions?id=eq.\" + $json.sessionId + \"&select=id,topic,user_id,cycle_number,status\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{\"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "d5fb6cc4-606d-4e51-97af-d51f8cdd8c22",
      "name": "Supabase - Get Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-896, -160]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.first().json;\nconst session = Array.isArray(rows) ? rows[0] : rows;\nif (!session?.id) return [];\n\nreturn [{\n  json: {\n    sessionId: session.id,\n    topic: session.topic,\n    userId: session.user_id,\n    cycleNumber: session.cycle_number,\n    status: session.status,\n  }\n}];"
      },
      "id": "53f9f1d2-8285-4d75-88cc-7c7e2d817dd4",
      "name": "Normalize Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-656, -160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/profiles?id=eq.\" + $json.userId + \"&select=id,whatsapp_number,whatsapp_opt_in\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{\"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "f0b1120e-41b3-40d6-970d-3bc99e0c2f2c",
      "name": "Supabase - Get Profile (WA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-432, -160]
    },
    {
      "parameters": {
        "jsCode": "const profileRows = $input.first().json;\nconst profile = Array.isArray(profileRows) ? profileRows[0] : profileRows;\n\nconst rawPhone = String(profile?.whatsapp_number || '').trim();\nconst optIn = profile?.whatsapp_opt_in !== false;\n\n// WAHA commonly uses chatId like 62812...@c.us (depends on your WAHA setup)\nconst phone = rawPhone.replace(/[^0-9]/g, '');\nconst suffix = String($env.WAHA_CHAT_SUFFIX || '@c.us');\nconst wahaChatId = phone ? `${phone}${suffix}` : '';\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    whatsappNumber: phone,\n    whatsappOptIn: optIn,\n    wahaChatId,\n    appUrl: String($env.APP_URL || $env.NEXT_PUBLIC_APP_URL || '').trim(),\n  }\n}];"
      },
      "id": "f06aa8b3-17cc-4a52-9c63-76ff2fddbe55",
      "name": "Build WAHA Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-208, -160]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.whatsappOptIn}}",
              "operation": "isTrue"
            }
          ],
          "string": [
            {
              "value1": "={{$json.wahaChatId}}",
              "operation": "notEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "3aa2f7b2-3b98-488d-9d0f-25c578b1efc0",
      "name": "IF - Can Notify WA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [16, -160]
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{$env.WAHA_SESSION || 'artikel'}}",
        "chatId": "={{$json.wahaChatId}}",
        "text": "={{'⏳ Artikel mulai diproses\\n\\n📝 Topik: ' + $json.topic + ($json.appUrl ? ('\\n🔗 ' + $json.appUrl + '/dashboard/' + $json.sessionId) : '')}}",
        "requestOptions": {}
      },
      "id": "9c43966a-2bdf-44ac-9c0f-e0a9151a3301",
      "name": "WAHA - Start",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [256, -288]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.topic}}",
        "options": {
          "systemMessage": "Kamu adalah SEO Keyword Specialist. Berdasarkan topik yang diberikan, generate:\n1) 1 focus keyword (low competition, high search intent)\n2) 5 keyword turunan/LSI yang relevan\n3) Search intent (informational / commercial / transactional)\n4) Jenis artikel: jika mengandung \"harga/beli/murah\" → \"commercial\", jika \"cara/tips/tutorial\" → \"educational\", selainnya → \"general\"\n\nOutput HANYA JSON tanpa markdown:\n{\"focus_keyword\":\"...\",\"keywords\":[\"...\",\"...\",\"...\",\"...\",\"...\"],\"search_intent\":\"informational\",\"article_type\":\"general\",\"topic\":\"topik asli\"}"
        }
      },
      "id": "b5ce9d45-4dcb-4a91-a5e1-8c0c9f0f1a72",
      "name": "SEO Analyzer (Keyword Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [512, -160]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c4e6a686-d2e6-46a4-8f5f-2eea1b8aa9a1",
      "name": "OpenRouter (LLM)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [512, 48]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst output = String(input.output || '').trim();\n\nfunction safeJsonParse(s) {\n  const cleaned = s.replace(/```json/gi, '').replace(/```/g, '').trim();\n  try { return JSON.parse(cleaned); } catch { return null; }\n}\n\nconst parsed = safeJsonParse(output) || {};\n\nreturn [{\n  json: {\n    ...input,\n    focus_keyword: parsed.focus_keyword || input.topic,\n    keywords: Array.isArray(parsed.keywords) ? parsed.keywords : [],\n    search_intent: parsed.search_intent || 'informational',\n    article_type: parsed.article_type || 'general',\n  }\n}];"
      },
      "id": "4d8c8d2e-5c35-4da2-9e40-5b6121d9ddea",
      "name": "Parse SEO Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768, -160]
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{$env.WAHA_SESSION || 'artikel'}}",
        "chatId": "={{$json.wahaChatId}}",
        "text": "={{'🔍 SEO Analyzer selesai\\n\\n🔑 Focus keyword: ' + $json.focus_keyword}}",
        "requestOptions": {}
      },
      "id": "61df2f3e-0781-48d5-a467-32f5e1c94154",
      "name": "WAHA - SEO Done",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [1008, -288]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.whatsappOptIn}}",
              "operation": "isTrue"
            }
          ],
          "string": [
            {
              "value1": "={{$json.wahaChatId}}",
              "operation": "notEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "e8c59f34-f9b1-4d36-a9c5-c12d8710d04d",
      "name": "IF - Can Notify WA (SEO)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1008, -160]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\"Focus Keyword: \" + $json.focus_keyword + \"\\nRelated Keywords: \" + ($json.keywords || []).join(\", \") + \"\\nArticle Type: \" + $json.article_type + \"\\nTopic: \" + $json.topic}}",
        "options": {
          "systemMessage": "Kamu adalah SEO Content Writer profesional. Tulis artikel SEO berkualitas tinggi.\n\nFormat output WAJIB:\nJUDUL: [judul SEO-friendly maks 60 karakter, mengandung focus keyword]\nSLUG: [slug URL maks 5 kata, huruf kecil, pisah strip]\nMETA: [meta description 150-160 karakter mengandung focus keyword]\nKONTEN: [artikel HTML lengkap dengan h2,h3,p,ul,li - keyword density 1-2% - min 1 external link rel noopener - min 1 internal link placeholder - minimal 800 kata]\nTAGS: [tag1, tag2, tag3, tag4, tag5]"
        }
      },
      "id": "ab6b5c6e-01f8-4c3b-aea7-0b08bb5a9cc7",
      "name": "Content Writer (Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1008, -160]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst raw = String(input.output || '').replace(/```/g, '').trim();\n\nfunction pick(prefix) {\n  const re = new RegExp(`^${prefix}:\\\\s*`, 'i');\n  const line = raw.split(/\\r?\\n/).find(l => re.test(l));\n  if (line) return line.replace(re, '').trim();\n  return '';\n}\n\nfunction pickBlock(prefix) {\n  const re = new RegExp(`^${prefix}:\\\\s*`, 'i');\n  const lines = raw.split(/\\r?\\n/);\n  const start = lines.findIndex(l => re.test(l));\n  if (start === -1) return '';\n  const collected = [];\n  for (let i = start; i < lines.length; i++) {\n    const l = lines[i];\n    if (i === start) collected.push(l.replace(re, ''));\n    else {\n      if (/^(JUDUL|SLUG|META|KONTEN|TAGS):\\s*/i.test(l)) break;\n      collected.push(l);\n    }\n  }\n  return collected.join('\\n').trim();\n}\n\nconst title = pick('JUDUL');\nconst slug = pick('SLUG');\nconst meta = pick('META');\nconst content = pickBlock('KONTEN');\nconst tagsRaw = pick('TAGS');\nconst tags = tagsRaw ? tagsRaw.split(',').map(t => t.trim()).filter(Boolean) : [];\n\nreturn [{\n  json: {\n    ...input,\n    article_title: title,\n    article_slug: slug,\n    article_meta: meta,\n    article_content: content,\n    article_tags: tags,\n  }\n}];"
      },
      "id": "2f2c0b6e-1c90-4f3f-a5ed-34bb9df050e7",
      "name": "Parse Writer Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, -160]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\"Judul: \" + $json.article_title + \"\\nMeta: \" + $json.article_meta + \"\\nKonten HTML:\\n\" + $json.article_content}}",
        "options": {
          "systemMessage": "Kamu adalah SEO Content Optimizer. Tugasmu:\n- Rapikan struktur H2/H3 dan kalimat agar lebih jelas\n- Pastikan ada 1 external link rel noopener\n- Pastikan ada 1 internal link placeholder\n- Tambahkan schema FAQ jika cocok (dalam HTML atau JSON-LD terpisah di akhir)\n\nKembalikan dengan format yang SAMA:\nJUDUL: ...\nSLUG: ...\nMETA: ...\nKONTEN: ...\nTAGS: ..."
        }
      },
      "id": "4bdfe9b7-925f-43d6-a85c-fdde6bc2e3a9",
      "name": "Content Optimizer (Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1520, -160]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n// Reuse the same parser as writer\nconst raw = String(input.output || '').replace(/```/g, '').trim();\n\nfunction pick(prefix) {\n  const re = new RegExp(`^${prefix}:\\\\s*`, 'i');\n  const line = raw.split(/\\r?\\n/).find(l => re.test(l));\n  if (line) return line.replace(re, '').trim();\n  return '';\n}\n\nfunction pickBlock(prefix) {\n  const re = new RegExp(`^${prefix}:\\\\s*`, 'i');\n  const lines = raw.split(/\\r?\\n/);\n  const start = lines.findIndex(l => re.test(l));\n  if (start === -1) return '';\n  const collected = [];\n  for (let i = start; i < lines.length; i++) {\n    const l = lines[i];\n    if (i === start) collected.push(l.replace(re, ''));\n    else {\n      if (/^(JUDUL|SLUG|META|KONTEN|TAGS):\\s*/i.test(l)) break;\n      collected.push(l);\n    }\n  }\n  return collected.join('\\n').trim();\n}\n\nconst title = pick('JUDUL') || input.article_title;\nconst slug = pick('SLUG') || input.article_slug;\nconst meta = pick('META') || input.article_meta;\nconst content = pickBlock('KONTEN') || input.article_content;\nconst tagsRaw = pick('TAGS');\nconst tags = tagsRaw ? tagsRaw.split(',').map(t => t.trim()).filter(Boolean) : (input.article_tags || []);\n\nreturn [{\n  json: {\n    ...input,\n    article_title: title,\n    article_slug: slug,\n    article_meta: meta,\n    article_content: content,\n    article_tags: tags,\n  }\n}];"
      },
      "id": "8e1cc6e4-67e2-4b91-ae77-3a6a398b9db2",
      "name": "Parse Optimizer Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1776, -160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/drafts\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{\"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "session_id", "value": "={{$json.sessionId}}" },
            { "name": "title", "value": "={{$json.article_title}}" },
            { "name": "content", "value": "={{$json.article_content}}" },
            { "name": "meta_description", "value": "={{$json.article_meta}}" },
            { "name": "keywords", "value": "={{$json.keywords}}" }
          ]
        },
        "options": {}
      },
      "id": "c09f9df3-e080-4557-98b4-00f2f696fef1",
      "name": "Supabase - Insert Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2032, -160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/approvals\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{\"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "session_id", "value": "={{$json.sessionId}}" },
            { "name": "status", "value": "pending" }
          ]
        },
        "options": {}
      },
      "id": "6dd623a8-0cfe-41e4-8cd0-6b5530d1f6b5",
      "name": "Supabase - Create Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2288, -160]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst approvals = Array.isArray(input) ? input : input;\n// When called after Create Approval, this node receives an array with a single object (return=representation)\nconst approval = Array.isArray(approvals) ? approvals[0] : approvals;\n\nconst approvalId = approval?.id || input.approvalId || '';\n\nfunction score() { return Math.floor(Math.random() * 16) + 80; }\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    approvalId,\n    reports: [\n      { agent_name: 'seo_analyzer', confidence_score: score(), reasoning: 'SEO analyzer selesai', suggestions: [] },\n      { agent_name: 'content_writer', confidence_score: score(), reasoning: 'Draft artikel selesai', suggestions: [] },\n      { agent_name: 'content_optimizer', confidence_score: score(), reasoning: 'Optimasi konten selesai', suggestions: [] },\n    ]\n  }\n}];"
      },
      "id": "9b2db70d-b9cc-4c4e-a5c7-6f02b6b47658",
      "name": "Prepare Agent Reports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2544, -160]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/agent_reports\"}}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{\"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "approval_id", "value": "={{$json.approvalId}}" },
            { "name": "agent_name", "value": "={{$json.reports[0].agent_name}}" },
            { "name": "confidence_score", "value": "={{$json.reports[0].confidence_score}}" },
            { "name": "reasoning", "value": "={{$json.reports[0].reasoning}}" },
            { "name": "suggestions", "value": "={{$json.reports[0].suggestions}}" }
          ]
        },
        "options": {}
      },
      "id": "d28f060d-83a4-4bf8-9a7b-124e9f32a1cc",
      "name": "Supabase - Insert Agent Report (SEO)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2784, -160]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/article_sessions?id=eq.\" + $json.sessionId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{\"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "review" }
          ]
        },
        "options": {}
      },
      "id": "9cfad2bb-0d31-40a0-95bd-3c67207c90c2",
      "name": "Supabase - Update Session Status (Review)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3008, -160]
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{$env.WAHA_SESSION || 'artikel'}}",
        "chatId": "={{$json.wahaChatId}}",
        "text": "={{'✅ Draft siap direview\\n\\n📝 ' + $json.article_title + ($json.appUrl ? ('\\n🔗 ' + $json.appUrl + '/dashboard/' + $json.sessionId) : '')}}",
        "requestOptions": {}
      },
      "id": "62a1df26-502f-4de6-b11f-769d6af02210",
      "name": "WAHA - Draft Ready",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [3232, -288]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.whatsappOptIn}}",
              "operation": "isTrue"
            }
          ],
          "string": [
            {
              "value1": "={{$json.wahaChatId}}",
              "operation": "notEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "6d8d9f21-20c2-4f4b-9767-8898f4a0a0c9",
      "name": "IF - Can Notify WA (Draft)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3232, -160]
    }
  ],
  "connections": {
    "Webhook (Supabase Trigger)": {
      "main": [
        [
          {
            "node": "Parse Webhook (ID Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook (ID Only)": {
      "main": [
        [
          {
            "node": "Supabase - Get Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Session": {
      "main": [
        [
          {
            "node": "Normalize Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Session": {
      "main": [
        [
          {
            "node": "Supabase - Get Profile (WA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Profile (WA)": {
      "main": [
        [
          {
            "node": "Build WAHA Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WAHA Target": {
      "main": [
        [
          {
            "node": "IF - Can Notify WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Can Notify WA": {
      "main": [
        [
          {
            "node": "WAHA - Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEO Analyzer (Keyword Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA - Start": {
      "main": [
        [
          {
            "node": "SEO Analyzer (Keyword Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (LLM)": {
      "ai_languageModel": [
        [
          {
            "node": "SEO Analyzer (Keyword Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ],
        [
          {
            "node": "Content Writer (Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ],
        [
          {
            "node": "Content Optimizer (Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SEO Analyzer (Keyword Agent)": {
      "main": [
        [
          {
            "node": "Parse SEO Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SEO Output": {
      "main": [
        [
          {
            "node": "IF - Can Notify WA (SEO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Can Notify WA (SEO)": {
      "main": [
        [
          {
            "node": "WAHA - SEO Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Content Writer (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA - SEO Done": {
      "main": [
        [
          {
            "node": "Content Writer (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Writer (Agent)": {
      "main": [
        [
          {
            "node": "Parse Writer Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Writer Output": {
      "main": [
        [
          {
            "node": "Content Optimizer (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Optimizer (Agent)": {
      "main": [
        [
          {
            "node": "Parse Optimizer Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Optimizer Output": {
      "main": [
        [
          {
            "node": "Supabase - Insert Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insert Draft": {
      "main": [
        [
          {
            "node": "Supabase - Create Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Create Approval": {
      "main": [
        [
          {
            "node": "Prepare Agent Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent Reports": {
      "main": [
        [
          {
            "node": "Supabase - Insert Agent Report (SEO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insert Agent Report (SEO)": {
      "main": [
        [
          {
            "node": "Supabase - Update Session Status (Review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Session Status (Review)": {
      "main": [
        [
          {
            "node": "IF - Can Notify WA (Draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
    ,
    "IF - Can Notify WA (Draft)": {
      "main": [
        [
          {
            "node": "WAHA - Draft Ready",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": false
  }
}
